/**/build/*
!/**/proto/build/*
!/**/src/**/build/*
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
/.gradle
*.iml
/.idea
/.tmp
/bin/
# Cache of project
/.gradletasknamecache
# Ignore Gradle GUI config
/gradle-app.setting