[versions]
assertj = "3.26.0"
buf = "1.32.2"
cel = "0.4.4"
ipaddress = "5.5.0"
junit = "5.10.2"
maven-publish = "0.28.0"
# When updating, make sure to update versions in the following files to match and regenerate code with 'make generate'.
# - buf.gen.yaml
# - conformance/buf.gen.yaml
# - src/test/resources/proto/buf.gen.imports.yaml
# - src/test/resources/proto/buf.gen.noimports.yaml
protobuf = "4.27.1"

[libraries]
assertj = { module = "org.assertj:assertj-core", version.ref = "assertj" }
buf = { module = "build.buf:buf", version.ref = "buf" }
cel = { module = "org.projectnessie.cel:cel-bom", version.ref = "cel" }
cel-core = { module = "org.projectnessie.cel:cel-core" }
errorprone = { module = "com.google.errorprone:error_prone_core", version = "2.28.0" }
guava = { module = "com.google.guava:guava", version = "33.2.1-jre" }
ipaddress = { module = "com.github.seancfoley:ipaddress", version.ref = "ipaddress" }
jakarta-mail-api = { module = "jakarta.mail:jakarta.mail-api", version = "2.1.3" }
junit-bom = { module = "org.junit:junit-bom", version.ref = "junit" }
maven-plugin = { module = "com.vanniktech:gradle-maven-publish-plugin", version.ref = "maven-publish" }
nullaway = { module = "com.uber.nullaway:nullaway", version = "0.11.0" }
protobuf-java = { module = "com.google.protobuf:protobuf-java", version.ref = "protobuf" }
spotless = { module = "com.diffplug.spotless:spotless-plugin-gradle", version = "6.25.0" }

[plugins]
errorprone = { id = "net.ltgt.errorprone", version = "3.1.0" }
git = { id = "com.palantir.git-version", version = "3.0.0" }
maven = { id = "com.vanniktech.maven.publish.base", version.ref = "maven-publish" }
osdetector = { id = "com.google.osdetector", version = "1.7.3" }
