name: Conformance
on:
  pull_request:
  push:
    tags:
      - 'v*.*.*'
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  conformance:
    name: Conformance
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Cache Go Modules
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-gomod-conformance-${{ hashFiles('gradle.properties', 'gradle/libs.versions.toml') }}
          restore-keys:
            ${{ runner.os }}-gomod-conformance-
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'
      - uses: bufbuild/buf-action@8f4a1456a0ab6a1eb80ba68e53832e6fcfacc16c # v1.3.0
        with:
          setup_only: true
      - env:
          BUF_TOKEN: ${{ secrets.BUF_TOKEN }}
        run: echo ${BUF_TOKEN} | buf registry login buf.build --token-stdin
      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@4d9f0ba0025fe599b4ebab900eb7f3a1d93ef4c2 # v5.0.0
      - name: Test conformance
        run: make conformance
